support adjacent encoded words with missing linear white space in between

In https://extranet.4teamwork.ch/support/edk/tracker-support-gever-edk/132 we had an issue with an E-mail containing a header (content-type) where adjacent encoded words were not separated by linear white spaces. Such a header does not conform to the standard, in particular RFC2047 Section 5 reads (see also https://github.com/4teamwork/ftw.mail/pull/32):

> Ordinary ASCII text and 'encoded-word's may appear together in the same header field. However, an 'encoded-word' that appears in a header field defined as '*text' MUST be separated from any adjacent 'encoded-word' or 'text' by 'linear-white-space'.

This lead to non-ASCI characters in the the `Content-disposition` header in the response sent by GEVER when downloading the corresponding E-mail attachment, which Apache could not handle.

We could add a regex to preprocess the mail headers and handle such non-conforming headers.

